html {
    height:100%;
    font-family: Consolas, '微软雅黑', monospace;
    margin: 0;
    background-color: rgb(255, 255, 255);
    overflow: hidden; /*取消垂直外边距合并 高度占据整个页面 不会出现垂直滑动条*/
}
body {
    height:100%;
    cursor: url(),auto;
    background-color: rgb(255, 255, 255);
    background-image: none;
    margin: 0;
}
.parent {
    /* position:absolute; */
    border: none;  /* 无边框 */
    padding: 0.5em;
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 35px;;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    /* 标题栏 */
    .div1 {
        grid-area: 1 / 1 / 2 / 11;
        /* border-bottom: 2px solid rgb(196, 196, 196); */
    }
        #title{
            float:left; 
            font-size: 22px;
        }
        /* 时间 */
        #datetime{
            float:right; 
            font-size: 12;
            color: rgb(47, 126, 44);
        }
    /* 搜索栏 */
    .div2 {
        grid-area: 2 / 1 / 3 / 7;
        padding-top: 18px;
        padding-right: 10px;
        /* background-color: blanchedalmond; */
    }
        /* 搜索引擎 */
        #engine_list {
            height: 2em;
            width: 80px;
            border: 0;
            outline: none;
            appearance: none;
            text-align: left;
            float:left;
            padding-left: 1em;
            font-size: 18px; 
            /* background-color: blueviolet; */
        }
        /* 搜索框 */
        #searchenter {
            width: 75%;
            height: 2em;
            outline: none;
            border: none;
            float:left;
            border-bottom: 2px solid rgb(241, 161, 150);
            font-size: 18px;
            
            /* background-color: aqua; */
            /* caret-shape: underscore; 光标形状  浏览器不支持  */

        }
    /* 图标栏  */
    .div3 {
        grid-area: 3 / 1 / 10 / 7;
        padding-left: 2em;
    }
        .linkbox{
            width: 100px;
            height: 60px;
            float: left;
            display: table-cell;
            text-align: center;
            vertical-align:middle;
            transition: transform .2s;
            /* background-color: rgb(143, 108, 108); */
        }
        /* 悬浮放大 */
        .linkbox:hover {
            transform: scale(1.15); 
        }
            .linka{
                text-decoration: none;
            }
            .linkimg{
                width: 40px;
                height: 40px;
                /* background-color: blueviolet; */
            }

            .linktext{
                width: auto;
                height: 20px;
                text-align: center;
                vertical-align: middle;
                font-size: 15px;
                color: black;
                /* background-color: aquamarine; */
                
            }
    /* 侧边信息栏 */
    .div4 {
        grid-area: 2 / 7 / 10 / 11;
        /* border-left: 2px solid rgb(196, 196, 196); */
        padding-left: 10px;
        padding-right: 10px;
    }
        /* 标签样式 */
        .tab{
            overflow: hidden;
            /* background-color: #7a4f4f; */
            display: flex;
        }
        
        /* 为选项卡内的按钮设置样式 */
        .tablinks {
            float: left;
            border: none;
            outline: none;
            text-align: center;
            justify-content: flex-start;
            background-color: white;
            font-size: 17px;
            width:100px ;
            height: 25px;
            
        }
        /* 标签内容的样式 */
        .tabcontent {
            display: none;
        }
        .tab_con .current{
            display: block;
            -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
        }
        .tab .current{
            border-bottom:2px solid rgb(253, 174, 174);
            cursor: pointer;
        }
        /* Fade in tabs */
        @-webkit-keyframes fadeEffect {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        
        @keyframes fadeEffect {
            from {opacity: 0;}
            to {opacity: 1;}
        }
    /* 尾栏 */
    .div5 {
        grid-area: 10 / 1 / 11 / 11;
        text-align: center;
    }